@model WebEditor.Models.Entities.File
@{
    ViewBag.Title = "EditFile";
}

<h2>FileName: @Model.fileName</h2>

<div id="editor">
    @Model.content
</div>

@using (Html.BeginForm("SaveCode", "Project", FormMethod.Post))
{
    @Html.HiddenFor(m => m.content, new { @id = "hidden_editor" })
    @Html.HiddenFor(m => m.fileID, new { @id = "hidden_editor" })
    @Html.HiddenFor(m => m.fileName, new { @id = "hidden_editor" })
    @Html.HiddenFor(m => m.fileType, new { @id = "hidden_editor"})
    @Html.HiddenFor(m => m.projectID, new { @id = "hidden_editor" })
    <input type="submit" value="Save code" />

}

@section scripts
{
<script src="~/3rdparty/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/signalr/hubs"></script>    
<script>
    var documentID = @Model.fileID;

    var editor = ace.edit("editor");
    $("form").submit(function () {
        $("#hidden_editor").val(editor.getSession().getValue());
    });
    var codeHub = $.connection.codeHub;
    var silent = false;
    var code = editor.getValue();
    editor.getSession().setMode("ace/mode/js");

    codeHub.client.onChange = function (changeData) {
        console.log(changeData);

        silent = true;
        editor.getSession().getDocument().applyDelta(changeData);
        silent = false;
    };

    $.connection.hub.start().done(function () {

        codeHub.server.joinDocument(documentID);

        editor.on("change", function(obj){
            if(silent){
                return;
            }
            code = editor.getValue();
            console.log(obj);
            codeHub.server.saveToDb(code, documentID);
            codeHub.server.onChange(obj, documentID);
        });
    });

</script>
}