@model WebEditor.Models.Entities.File
@{
    ViewBag.Title = "EditFile";
}

<h2>FileName: @Model.fileName</h2>

<div id="editor">
    @Model.content
</div>

@using (Html.BeginForm("SaveCode", "Project", FormMethod.Post))
{
    @Html.HiddenFor(m => m.content, new { @id = "hidden_editor" })
    @Html.HiddenFor(m => m.fileID, new { @id = "hidden_editor" })
    @Html.HiddenFor(m => m.fileName, new { @id = "hidden_editor" })
    @Html.HiddenFor(m => m.projectID, new { @id = "hidden_editor" })
    <input type="submit" value="Save code" />

}



@section scripts
{
    <script src="~/3rdparty/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        $("form").submit(function () {
            $("#hidden_editor").val(editor.getSession().getValue());
        });
    </script>
}