@model WebEditor.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "ProjectList";
}
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("WebEditor", "ProjectList", "Project", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Projects", "ProjectList", "Project")</li>
			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>

<h2>All Projects</h2>

@if (Model.projects.Count <= 0)
{
    <h3>You have no projects yet...</h3>
}
else
{
    <div class="container">
        <h3>My Projects</h3>
            @for (int i = 0; i < Model.projects.Count; i++)
            {
                if (Model.roles[i] == "owner" || Model.roles[i] == "Owner")
                {
                    
                    <a href="@Url.Action("contactManager", "Project", new { projectID = Model.projects[i].projectID }, null)"/>
                    <h4>@Model.projects[i].name</h4>
                    <div class="row">
                        @if(Model.projects[i].files.Count <= 0)
                        {
                            <div class="col-xs-2">No files in project...</div>
                            <div class="col-xs-2">
                                <a href="@Url.Action("CreateNewFile", "Project", new { projectID = Model.projects[i].projectID }, null)" class="thumbnail">
                                    <img src="~/Content/images/add.png" />
                                </a>
                            </div>
                        }
                        else
                        {
                            for (int j = 0; j < Model.projects[i].files.Count; j++)
                            {
                                <div class="col-xs-2">
                                    <a href="@Url.Action("EditFile", "Project", new { id = Model.projects[i].files[j].fileID }, null)" class="thumbnail">
                                        <div class="caption">
                                            <h4 class="">@Model.projects[i].files[j].fileName</h4>
                                        </div>
                                        <img src="~/Content/images/file.png" />    
                                    </a>
                                </div>
                            }
                            <div class="col-xs-2">
                                <a href="@Url.Action("CreateNewFile", "Project", new { projectID = Model.projects[i].projectID }, null)" class="thumbnail">
                                    <img src="~/Content/images/add.png" />
                                </a>
                            </div>
                        }
                    </div>
                }
            }

        <h3>Collaborator</h3>
        @for (int i = 0; i < Model.projects.Count; i++)
        {
            if (Model.roles[i] == "guest" || Model.roles[i] == "Guest")
            {
                <h4>@Model.projects[i].name</h4>
                    <div class="row">
                        @if (Model.projects[i].files.Count <= 0)
                        {
                            <div class="col-xs-2">No files in project...</div>
                            <div class="col-xs-2 glyphicon-align-center">
                                <a href="@Url.Action("CreateNewFile", "Project", new { projectID = Model.projects[i].projectID }, null)" class="thumbnail">
                                    <img src="~/Content/images/add.png" />
                                </a>
                            </div>
                        }
                        else
                        {
                            for (int j = 0; j < Model.projects[i].files.Count; j++)
                            {
                                <div class="col-xs-2">
                                    <a href="@Url.Action("EditFile", "Project", new { id = Model.projects[i].files[j].fileID }, null)" class="thumbnail">
                                        <div class="caption">
                                            <h4 class="">@Model.projects[i].files[j].fileName</h4>
                                        </div>
                                        <img src="~/Content/images/file.png" />
                                    </a>
                                </div>
                            }
                            <div class="col-xs-2">
                                <a href="@Url.Action("CreateNewFile", "Project", new { projectID = Model.projects[i].projectID }, null)" class="thumbnail">
                                    <img src="~/Content/images/add.png" />
                                </a>
                            </div>
                        }
                    </div>
            }
        }
    </div>
}
<br />
<p>
    @Html.ActionLink("Create new project", "CreateNewProject", null, new { @class = "btn btn-primary btn-sm" })
</p>