@model WebEditor.Models.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "ProjectList";
}
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			@Html.ActionLink("WebEditor", "ProjectList", "Project", new { area = "" }, new { @class = "navbar-brand" })
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Projects", "ProjectList", "Project")</li>
			</ul>
			@Html.Partial("_LoginPartial")
		</div>
	</div>
</div>

<h2>My Projects</h2>
<ul>
        @for(int i = 0; i < Model.projects.Count; i++)
        {
            <li>
                @Model.projects[i].name - (@Model.roles[i])
                <ul>
                    @for(int j = 0; j < Model.projects[i].files.Count; j++)
                    {
                        <li>@Html.ActionLink(Model.projects[i].files[j].fileName, "EditFile", "Project", new { id = Model.projects[i].files[j].fileID }, null)</li>
                    }
                    <li>@Html.ActionLink("Create a new file", "CreateNewFile", new { projectID = Model.projects[i].projectID }, new { @class = "btn btn-primary btn-xs" })</li>
                </ul>
            </li>
        }
</ul>

@Html.ActionLink("Create new project", "CreateNewProject", null, new { @class = "btn btn-primary btn-sm"})